.contact {
    display: block;
    width: 85%;
    margin-left: 2%;
    padding: 50px;
}

#bar {
    background-color: #c1d045;
    height: 6px;
    border: none;
    width: 105%;
    
}

.contact h1 {
    font-size: 48px;
    font-weight: initial;
}

body {
    overflow: visible;
    margin: 0;
}

.contact-footer {
    background-color: #c1d045;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    margin-top: 19%;
    padding-bottom: 1px;
    color: white;
}

.contact-footer svg {
    padding: 0px 10px;
    width: 48px;
    height: 48px;
}
#emailcont {
    display: inline-grid;
    margin-left: 16%;
}

#submit {
    background-color: #c1d045;
    color: white;
    border: none;
    width: 25%;
    padding-bottom: 0;
    margin-left: 35%;
    height: 25px;
}

#email {
    width: fit-content;
}

label {
    font-size: 24px;
}
#github {
    color: white;
    text-decoration: none;
}
#linkedin {
    color: white;
    text-decoration: none;
}